@import '../../styles/color.scss';

.card {
  width: 255px;
  margin-bottom: 36px;
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &:hover {
    cursor: pointer;
  }

  .mainPicture {
    max-width: 100%;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .name {
    color: $font_black;
    font-size: 22px;
    margin-bottom: 6px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .city {
    color: $font_gray;
  }
}
