@import '../../styles/color.scss';

.carouselContainer {
  width: 1100px;
  height: 400px;

  .item {
    width: 1100px;
    height: 400px;
    border-radius: 24px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.95;
  }

  .title {
    position: absolute;

    width: 1100px;
    max-width: 100%;
    max-height: 100%;
    font-size: 24px;
    color: #fff;
    font-weight: bold;

    z-index: 60;
    line-height: 400px;
    text-align: center;
  }
}
