@import '../../styles/color.scss';

.searchBar {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 40px 0px 60px;

  .searchInput {
    width: 600px;
    height: 50px;
    margin: 0px 15px;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 30px;
    font-size: 16px;
  }

  .searchButton {
    width: 210px;
    height: 50px;
    background-color: $font_green_light;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 6px;
  }
}

.topic {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  .topicCategory {
    width: 255px;
    height: 124px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-sizing: border-box;

    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 12px 0px;
  }

  > div:nth-child(4n) {
    margin-right: 0px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.errorResult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;

  > div {
    text-align: center;
    color: $font_green;
    font-size: 20px;
    p {
      line-height: 34px;
    }
  }
}
