@import '../../styles/color.scss';

.breadcrumbs {
  display: flex;

  .item {
    font: 16px;
    font-weight: 400;
    color: $font_green;

    &:hover {
      cursor: pointer;
    }

    a {
      color: $font_green;
    }

    &:not(:last-child) {
      &::after {
        content: '/';
        margin-left: 8px;
        margin-right: 8px;
        color: $font_gray;
      }
    }

    &:last-child {
      color: $font_gray;
      &:hover {
        cursor: default;
      }
    }
  }
}
