$font_black: #2f2f2f;
$font_gray: #646464;
$font_green_light: #7f977b;
$font_green: #6e7d60;

$font_orange: #ff725e;
$font_brown: #bea363;

// global
$link: $font_green;

// home page
$location: $font_gray;
$more_item: $font_orange;

// introduction
$tag: $font_brown;
